/* BANNER PAGE */
.banner-page {
    width: 100%;
    height: 350px;
    position: relative;
}
.banner-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 15, 39, 0.314);
    z-index: 1;
}
.banner-page .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}
.banner-page .title h2 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin-top: 100px;
}
.messageError {
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
.container {
    width: 1200px;
    max-width: 1400px;
    padding: 0 15px;
    margin: auto;
}



/* Responsive Styles */
@media (max-width: 1280px) {
    .container {
        width: 1024px !important;
        padding: 0 50px !important;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 100% !important;
        padding: 0 30px !important;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100% !important;
        padding: 0 20px !important;
    }
    .banner-page {
        height: 250px;
    }
    .banner-page .title h2 {
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100% !important;
        padding: 0 15px !important;
    }
    .banner-page {
        height: 180px;
    }
    .banner-page .title h2 {
        font-size: 25px;
    }
}
@media (max-width: 360px) {
    .container {
        width: 100% !important;
        padding: 0 10px !important;
    }
}