
.parameter {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.parameter .item {
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px ;
    width: calc(100%/4);
    border-radius: 10px;
}
.parameter .item .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parameter .item .icon i {
    color: #fff;
    font-size: 20px;
}
.parameter .item:first-child {
    border-left: 4px solid rgb(13,202,240);
}
.parameter .item .total p:first-child {
    color: #6c757d;
    font-size: 18px;
}
.parameter .item:first-child .total p:nth-child(2) {
    color: rgb(13,202,240);
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0;
}
.parameter .item .total p:last-child {
    color: #313131;
    font-size: 15px;
}
.parameter .item:first-child .icon {
    background: linear-gradient( 45deg, #17ead9, #6078ea)!important;
}

.parameter .item:nth-child(2) {
    border-left: 4px solid #fd3550;
}
.parameter .item:nth-child(2) .total p:nth-child(2) {
    color: #fd3550;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0;
}
.parameter .item:nth-child(2) .icon {
    background: linear-gradient(45deg, #f54ea2, #ff7676) !important;
}

.parameter .item:nth-child(3) {
    border-left: 4px solid #15ca20;
}
.parameter .item:nth-child(3) .total p:nth-child(2) {
    color: #15ca20;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0;
}
.parameter .item:nth-child(3) .icon {
    background:linear-gradient(45deg, #00b09b, #96c93d)!important;
}

.parameter .item:last-child {
    border-left: 4px solid #ffc107;
}
.parameter .item:last-child .total p:nth-child(2) {
    color: #ffc107;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0;
}
.parameter .item:last-child .icon {
    background:linear-gradient( 45deg, #ffdf40, #ff8359)!important;
}

.overview {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.overview .left {
    width: 60%;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    padding-top: 20px;
    border-radius: 10px;
}
.overview .right {
    width: 40%;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    border-radius: 10px;
}
.overview .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    color: #32393fe3;
    padding: 10px 20px;
}
.overview .left .notes {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 0 20px;
}
.overview .left .notes p {
    border-radius: 10px;
    border: 1px solid rgb(143, 143, 143);
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
    margin-right: 10px;
}
.overview .left .notes p span {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
    opacity: 1;
}
.overview .left .notes p:first-child span {
    background-color: #008aca;
}
.overview .left .notes p:last-child span {
    background-color: #e1a900;
}
.overview .left .region {
    height: 300px;
}
.overview .left .left-bt {
    display: flex;
    border-top: 1px solid rgb(208, 208, 208);
}
.overview .left .left-bt .item {
    width: calc(100% / 3);
    text-align: center; 
    padding: 15px;
}
.overview .left .left-bt .item:nth-child(2) {
    border-right: 1px solid rgb(208, 208, 208);
    border-left: 1px solid rgb(208, 208, 208);
}
.overview .left .left-bt .item p {
    font-weight: 700;
    font-size: 23px;
    color: #32393f;
}
.overview .left .left-bt .item span {
    font-size: 14px;
    color: #32393f;
}
.overview .left .left-bt .item span i {
    font-size: 13px;
    display: inline-block;
    margin: 0 3px;
}
